
.column1{
  float: left;
  width: 42.33%;
  padding: 20px;
}
.column2{
  float: right;
  width: 45.33%;
  padding: 20px;
}

.column1 p{
  font-size: 2rem;
  font-weight: bold;
}

.column2 p{
  font-size: 2rem;
  font-weight: bold;
}

.row{
  background-image: url('/CSY1018-Web-Development-Assignment 1-(ID)-Sugen Pikha-project/CSY1018-Web-Development-Assignment-1-2023153-Sugen-Pikha-project/img/hans-ott-xzygzr-i2Ys-unsplash.jpg');
  height: 100rem;
}

.column h1{
  font-size: 3rem;
  font-weight: bolder;
}

.row::after{
  content: "";
  clear:both;
  display: table;
}

@media screen and (max-width:768px){
  .column{
      width: 100%;
  }
}



