
.column1{
  float: left;
  width: 42.33%;
  padding: 20px;
}
.column2{
  float: right;
  width: 45.33%;
  padding: 20px;
}

.column1 p{
  font-size: 2rem;
  font-weight: bold;
}

.column2 p{
  font-size: 2rem;
  font-weight: bold;
}

body{
  background-image: url('../img/jeremy-thomas-E0AHdsENmDg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.column h1{
  font-size: 3rem;
  font-weight: bolder;
}

.row::after{
  content: "";
  clear:both;
  display: table;
}

@media screen and (max-width:768px){
  .column{
      width: 100%;
  }
}



