*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 33.33%;
    padding: 20px;
}
.row{
    animation-name: backgrou;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.row::after{
    content: "";
    clear:both;
    display: table;
}
@media screen and (max-width:1018px){
    .column{
        width: 100%;
    }
}

@keyframes backgrou{
    0% {background-image: url('/CSY1018-Web-Development-Assignment 1-(ID)-Sugen Pikha-project/CSY1018-Web-Development-Assignment-1-2023153-Sugen-Pikha-project/img/chirayu-trivedi-PWSRflLu33s-unsplash.jpg');}
    50%{background-image: url('/CSY1018-Web-Development-Assignment 1-(ID)-Sugen Pikha-project/CSY1018-Web-Development-Assignment-1-2023153-Sugen-Pikha-project/img/alex-perez-ioJBsYQ-pPM-unsplash.jpg');}
    100%{background-image: url('/CSY1018-Web-Development-Assignment 1-(ID)-Sugen Pikha-project/CSY1018-Web-Development-Assignment-1-2023153-Sugen-Pikha-project/img/chirayu-trivedi-PWSRflLu33s-unsplash.jpg');}
}
