.column{
    float: left;
    width: 98%;
    padding: 20px;
    background-color:rgba(4, 150, 191, 0.75);
    margin: 1px;
    text-align: justify;
    color: black;
}

.row::after{
    content: "";
    clear:both;
    display: table;
}

.column p{
    font-size: 2rem;
    font-weight: bold
}